{% extends 'main-dashboard/dashboard-base.html'%}
<!-- Static file loader -->
{% load static %}

<!-- the content block-->
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 2px solid rgb(41, 187, 48); color: #000"
        >
          <div
            class="card-header"
            style="border-bottom: 3px solid #007343; color: #fff"
          >
            <div class="card-title" style="color: rgb(41, 187, 48)">
              Admission Acceptance
            </div>
          </div>
          {% if user.student.has_accepted %}
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    <b>{{user.student.get_fullname}}</b>Jane Doe
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>You have already accepted your admission.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          
          <!-- Modal -->
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    <b>{{user.student.get_fullname}}</b>Jane Doe
                  </h5>
                  <!-- <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button> -->
                </div>
                <div class="modal-body">
                  <p>Congratulations, You have been offered admission.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn" data-bs-dismiss="modal">
                    Accept
                  </button>
                  <button type="button" class="btn btn-danger">Reject</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end modal section -->
            {% endif %}
            <!-- End of muli step form -->
              <div class="row d-flex justify-content-center">
              <!-- <div class="card-action"></div> -->
              <div class="col-sm-3 p-3">
                <a href="{% url 'admission_invoice' %}" class="btn"
                  >Generate Invoice</a
                >
              </div>
              <div class="col-sm-3 p-3">
                <a href="" class="btn btn-primary">Pay Now</a>
              </div>
            </div>
        </div>
          <!-- Button trigger modal -->
     

            <script>
              var myModal = document.getElementById("myModal");
              var myInput = document.getElementById("myInput");
              myModal.addEventListener("shown.bs.modal", function () {
                myInput.focus();
              });

              window.onload = () => {
                const myModal = new bootstrap.Modal("#staticBackdrop");
                myModal.show();
              };
            </script>
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
