{% extends 'main-dashboard/dashboard-base.html'%}
<!-- static -->
{% load static %}
<!-- block -->
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 2px solid rgb(41, 187, 48); color: #000"
          >
          <div
          class="card-header"
            style="border-bottom: 3px solid #007343; color: #000"
            >
            <div
              class="card-title"
              style="color: rgb(41, 187, 48); float: left"
              ></div>
            <div class="d-flex justify-content-between">
              <div class="p-3 p-2">
                <b> <span class="text-success">INFORMATION UPDATE</span></b>
              </div>
              <div class="">
                <button type="button" class="btn btn-success">Download</button>
              </div>
            </div>
            <hr/>
            
            <div class="row">
              <div class="d-none d-lg-block col-sm-2">
                <div class="avatar-sm">
                  <img
                    src="{% static '/main/assets/img/avatar.png'%}"
                    alt="..."
                    class="avatar-img rounded-circle"
                    style="width: 130px; height: 130px"
                  />
                </div>
              </div>

              <!--  -->
              <div class="col-sm-8">
                <div class="container-fluid">
                  <div class="mb-3 text-muted"><h5>Basic</h5></div>
                  <hr />
                  <form action="/action_page.php">
                    <div class="row">
                      <div class="col-sm-3 col-md-6">
                        <label for="email" class="form-label text-primary"
                          >Name:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="uname"
                          placeholder="Name"
                          name="name"
                          required
                        />
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <label for="email" class="form-label text-primary"
                          >Email:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="uname"
                          placeholder="Email"
                          name="email"
                          required
                        />
                      </div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="row">
                      <div class="col-sm-3 col-md-6">
                        <label for="email" class="form-label text-primary"
                          >Reg No:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="reg_no"
                          placeholder="Registration Number"
                          name="reg_no"
                          required
                        />
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <label for="email" class="form-label text-primary"
                          >DOB:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="dob"
                          placeholder="Date of Birth"
                          name="dob"
                          required
                        />
                      </div>
                    </div>
                    <!-- ########################### -->
                    <div class="mb-3"></div>

                    <div class="row">
                      <div class="col-sm-3 col-md-6">
                        <label for="email" class="form-label text-primary"
                          >Home Town:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="home_town"
                          placeholder="Home Town"
                          name="home_town"
                          required
                        />
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <label for="email" class="form-label text-primary"
                          >Home Addess:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="home address"
                          placeholder="Enter username"
                          name="home address"
                          required
                        />
                      </div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="row">
                      <div class="col-sm-3 col-md-6">
                        <label for="country" class="form-label text-primary"
                          >Country:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="country"
                          placeholder="Country"
                          name="country"
                          required
                        />
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <label for="State" class="form-label text-primary"
                          >State:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="state"
                          placeholder="State"
                          name="state"
                          required
                        />
                      </div>
                    </div>
                    <!-- ########################### -->
                    <div class="mb-3"></div>

                    <div class="row">
                      <div class="col-sm-3 col-md-6">
                        <label for="LGA/City" class="form-label text-primary"
                          >LGA/City:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="lga_city"
                          placeholder="LGA/City"
                          name="lga_city"
                          required
                        />
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <label
                          for="Contact Address"
                          class="form-label text-primary"
                          >Contact Address:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="contact_address"
                          placeholder="Contact Address"
                          name="contact_address"
                          required
                        />
                      </div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="row">
                      <div class="col-sm-4">
                        <label
                          for="place of Birth Address"
                          class="form-label text-primary"
                          >place of Birth Address:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="poba"
                          placeholder="Place of Birth Address"
                          name="poba"
                          required
                        />
                      </div>
                      <div class="col-sm-4">
                        <label for="Gender" class="form-label text-primary"
                          >Gender:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="gender"
                          placeholder="Gender"
                          name="gender"
                          required
                        />
                      </div>
                      <div class="col-sm-4">
                        <label for="Tribe" class="form-label text-primary"
                          >Tribe:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="tribe"
                          placeholder="Tribe"
                          name="tribe"
                          required
                        />
                      </div>
                    </div>
                    <!-- ########################### -->
                    <div class="mb-3"></div>

                    <div class="row">
                      <div class="col-sm-9 col-md-6">
                        <label for="Religion" class="form-label text-primary"
                          >Religion:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="religion"
                          placeholder="Religion"
                          name="religion"
                          required
                        />
                      </div>
                      <!--  -->
                      <div class="col-sm-3 col-md-6">
                        <label
                          for="Marital Status"
                          class="form-label text-primary"
                          >Marital Status:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="marital_status"
                          placeholder="Marital Status"
                          name="marital_status"
                          required
                        />
                      </div>
                    </div>
                    <!-- ########################### -->
                    <div class="mb-3"></div>
                    <div class="mb-3"><h5>Health</h5></div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-4">
                        <label for="Blood Group" class="form-label text-primary"
                          >Blood Group:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="blood_group"
                          placeholder="Blood Group"
                          name="blood_group"
                          required
                        />
                      </div>
                      <div class="col-sm-4">
                        <label for="Genotype" class="form-label text-primary"
                          >Genotype:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="genotype"
                          placeholder="Genotype"
                          name="genotype"
                          required
                        />
                      </div>
                      <div class="col-sm-4">
                        <label for="Disability" class="form-label text-primary"
                          >Disability:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="disability"
                          placeholder="Disability"
                          name="disability"
                          required
                        />
                      </div>
                    </div>
                    <!-- ################### -->
                    <div class="mb-3"></div>
                    <div class="mb-3"><h5>Next of Kin</h5></div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-12">
                        <label
                          for="Next of Kin Name"
                          class="form-label text-primary"
                          >Next of Kin Name:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="nokn"
                          placeholder="Next of Kin Name"
                          name="nokn"
                          required
                        />
                      </div>
                      <div class="col-sm-12">
                        <label
                          for="Next of Kin Phone"
                          class="form-label text-primary"
                          >Next of Kin Phone:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="nokp"
                          placeholder="Next of Kin Phone"
                          name="nokp"
                          required
                        />
                      </div>

                      <div class="col-sm-12">
                        <label
                          for="Next of Kin Address"
                          class="form-label text-primary"
                          >Next of Kin Address:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="noka"
                          placeholder="Next of Kin Address"
                          name="noka"
                          required
                        />
                      </div>
                      <div class="col-sm-12">
                        <label
                          for="Relationship"
                          class="form-label text-primary"
                          >Relationship:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="relationship"
                          placeholder="Relationship"
                          name="relationship"
                          required
                        />
                      </div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="mb-3"><h5>Sponsor/Sport</h5></div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-4">
                        <label
                          for="Sponsor Name"
                          class="form-label text-primary"
                          >Sponsor Name:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="sponsor_name"
                          placeholder="Sponsor Name"
                          name="sponsor_name"
                          required
                        />
                      </div>
                      <div class="col-sm-4">
                        <label
                          for="Other Sponsor"
                          class="form-label text-primary"
                          >Other Sponsor:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="other_sponsor"
                          placeholder="Other Sponsor"
                          name="other_sponsor"
                          required
                        />
                      </div>
                      <div class="col-sm-4">
                        <label
                          for="Other Sponsor"
                          class="form-label text-primary"
                          >Sport:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="other_sponsor"
                          placeholder="Other Sponsor"
                          name="other_sponsor"
                          required
                        />
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                        <div style="float: right">
                          <button type="submit" class="btn btn-success">
                            UPDATE
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="mb-4"></div>
                  </form>
                </div>
                <!-- End Custom template -->
                {% endblock content %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
