
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Nsuk Odel</title>
    <meta
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="icon"
      href="{% static '/main/assets/img/nsuk-logo.png'%}"
      type="image/x-icon"
      />

      <!-- Fonts and icons -->

    <!-- CSS Files -->
    <link
    rel="stylesheet"
    href="{% static '/main/assets/a/css/jquery-ui.css'%}"
    />
    <link
    rel="stylesheet"
    href="{% static '/main/assets/a/css/jquery-ui.min.css'%}"
    />
  
    <link
      rel="stylesheet"
      href="{% static '/main/assets/css/bootstrap.min.css'%}"
    />


    <link
      rel="stylesheet"
      href="{% static '/main/assets/css/multi-step-form.css'%}"
    />
    <link
    rel="stylesheet"
      href="{% static '/main/assets/css/kaiadmin.min.css'%}"
    />
    <!-- <link
    rel="stylesheet"
      href="{% static '/main/assets/css/bootstrap.css'%}"
    /> -->
    <link
    rel="stylesheet"
      href="{% static '/main/assets/fonts/fontawesome-two/css/all.min.css'%}"
    />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link rel="stylesheet" href="{% static '/main/assets/css/demo.css'%}" /> -->
  </head>
  <body>
    <div class="wrapper">
  <!-- Sidebar -->
  <div class="sidebar" style="background-color: #007343; color: #000;">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" style="background-color: #007343; color: #fff;">
        <a href="{% url 'index_page'%}" class="logo">
          <img
            src="{% static '/main/assets/img/nsuk_12px.png'%}"
            alt="navbar brand"
            class="navbar-brand"
            height="60"
          />
        </a>
        <!-- <h3 class="text-green"> NSUK ODel</h3> -->
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
            <i class="fa-solid fa-user"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <style>
      body{
        background-color: #fff;
      }
      .sub-item{
      font-weight: 300;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: larger;
}
      .nav-item:hover{
      background-color: #85b8a2;
      font-weight: 300;
}

    </style>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item">
                  <a href="{% url 'dashboard_page'%}">
                    <i class="fas fa-home"></i>
                    <span class="sub-item text-light">Dashboard</span>
                  </a>
          </li>
          <!-- Classic family icons in available styles (Font Awesome Classic is the default) -->
        <!-- { if user.student.done_biodata %} -->
            <!-- { if user.student.has_accepted %} -->
                  <li class="nav-item">
                    <a href="{% url 'fee_payment_form'%}">
                      <!-- <i class="fas fa-th-list"></i> -->
                      <i class='fab fa-cc-mastercard'></i>
                      <span class="sub-item text-light">Fee</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'payments_page'%}">
                      <i class="fas fa-th-list"></i>
                      <span class="sub-item text-light">Other payment</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'documents_page'%}">
                      <i class="fas fa-file"></i>
                      <span class="sub-item text-light">My Document</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'profile_setting_page'%}">
                      <i class="fas fa-table"></i>
                      <span class="sub-item text-light">Profile Settings</span>
                    </a>
                  </li>
                <!-- { else %} -->
                  <li class="nav-item ">
                    <a href="{% url 'accept-admission'%}">
                      <i class="fas fa-desktop"></i>
                      <span class="sub-item text-light">Accept Admission</span>
                    </a>
                  </li>
            <!-- { endif %} -->

        <!-- { else %} -->
            <li class="nav-item btn-biodata">
            <a href="{% url 'bio-data_form'%}">
            <i class="fa-solid fa-user"></i>
              <span class="sub-item text-light">Bio Data</span>
            </a>
          </li>
        <!-- { endif %} -->
        </ul>
      </div>
      <ul class="nav nav-secondary fixed-bottom" style="width: 10%;">
        <li class="nav">
          <!-- <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal"> Logout-></button> -->
        </li>
        <li class="nav-item" style="background-color: #252525;"  data-bs-toggle="modal" data-bs-target="#myModal">
            <a>
            <i class="fa-solid fa-user"></i>
              <span class="sub-item text-light">Logout</span>
          
            </a>
          </li>
      </ul>
    </div>
  </div>
    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      Your are login out..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-mute" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Continue</button>
      </div>

    </div>
  </div>
</div>

  <div class="main-panel">
    <div class="main-header">
      <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a href="index.html" class="logo">
            <img
              src="assets/img/kaiadmin/logo_light.svg"
              alt="navbar brand"
              class="navbar-brand"
              height="20"
            />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>

       <!-- Navbar Header -->
          <nav
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
          >
            <div class="container-fluid">
              <nav
                class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
              >
                <!-- <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="submit" class="btn btn-search pe-1">
                      <i class="fa fa-search search-icon"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    placeholder="Search ..."
                    class="form-control"
                  />
                </div> -->
              </nav>

              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li
                  class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none"
                >
                  <a
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false"
                    aria-haspopup="true"
                  >
                    <i class="fa fa-search"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-search animated fadeIn">
                    <form class="navbar-left navbar-form nav-search">
                      <div class="input-group">
                        <input
                          type="text"
                          placeholder="Search ..."
                          class="form-control"
                        />
                      </div>
                    </form>
                  </ul>
                </li>
                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a
                    class="dropdown-toggle profile-pic"
                    data-bs-toggle="dropdown"
                    href="#"
                    aria-expanded="false"
                  >
                    <div class="avatar-sm">
                      <img
                        src="{% static '/main/assets/img/avatar.png'%}"
                        alt="..."
                        class="avatar-img rounded-circle"
                      />
                    </div>
                    <span class="profile-username">
                      <span class="op-7">Hi,</span>
                      <span class="fw-bold">{{ user.student.app_id }}</span>
                    </span>
                  </a>
                 
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
     
      {% block content %} {% endblock content %}
    <!--   Core JS Files   -->
    <script src="{% static '/main/assets/js/core/bootstrap.min.js'%}"></script>
    <script src="{% static '/main/assets/js/core/jquery-3.7.1.min.js'%}"></script>
     <script src="{% static '/main/assets/js/zebra_datepicker.min.js'%}"></script>
    <!-- <script src="{% static '/main/assets/js/core/popper.min.js'%}"></script> -->


    <!-- DateTimePicker -->
    <script src="{% static 'main/assets/js/plugin/moment/moment.min.js'%}"></script>
    <script src="{% static 'main/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js'%}"></script>


  <script src="{% static '/main/assets/js/multi-step-form.js'%}"></script>
 
 <script>
   var curent = location.pathname;
   $('.nav li a').each(function(){
     var $this = $(this);
     if ($this.attr('href').indexOf(curent) !==-1){
       $this.addClass('btn-success')
      }
    });

    $('#datepicker').datepicker({
    format: 'MM/DD/YYYY',
    });

    $('#datetimepicker').datetimepicker('show');

    $('#datepicker').Zebra_DatePicker();

    
    </script>
    
  </body>
</html>
