{% extends 'main-dashboard/dashboard-base.html'%}
<!-- static -->
{% load static %}
<!-- block -->
{% block content %}

<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 2px solid rgb(41, 187, 48); color: #000"
        >
          <div
            class="card-header"
            style="border-bottom: 3px solid #007343; color: #fff"
          >
            <div class="card-title" style="color: rgb(41, 187, 48)">
              Dashboard
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <div class="avatar-sm">
                      <img
                        src="{% static '/main/assets/img/avatar.png'%}"
                        alt="..."
                        class="avatar-img rounded-circle"
                        style="width:130px; height:130px"
                      />
                    </div>
            </div>
            <!--  -->
            <div class="col-6">
            <table class="table">
            <tbody>
                <tr>
                <td>Name</td>
                <td>{{ user.first_name }} {{ user.middle_name }} {{ user.surname }}</td>
                </tr>
                <tr>
                <td>Matric</td>
                <td>{{ user.student.mat_number }}</td>
                </tr>
                <tr>
                <td>Application ID:</td>
                <td>{{ user.student.app_id }}</td>
                </tr>
                <tr>
                <td>phone</td>
                <td>{{ user.phone }}</td>
                </tr>
                <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
                </tr>
                <tr>
                <td>Level</td>
                <td>{{ user.student.level }}</td>
                </tr>
                <tr>
                <td>Year of admission</td>
                <td>{{ user.year_of_admission }}</td>
                </tr>
                <tr>
                <td>Program Type</td>
                <td>{{ user.student.programme_type }}</td>
                </tr>
                <tr>
                <td>Faculty</td>
                <td>{{ user.student.programme.department.faculty }}</td>
                </tr>
                <tr>
                <td>Department</td>
                <td>{{ user.student.programme.department }}</td>
                </tr>
                <tr>
                <td>Programme</td>
                <td>{{ user.student.programme }}</td>
                </tr>
            </tbody>
            </table>
            </div>
          <!-- check if user has accepted admission then show session and fee -->
              {% if user.student.has_accepted %}
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sessions</h5>
                    <p class="card-text btn">2024/2025</p>
                </div>
                </div>
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">School Fees</h5>
                    <p class="card-text btn">2024/2025 ... 0%</p>
                </div>
                </div>
              </div>
              {% else %}
                {% if user.student.done_biodata %}
                <div class="col-2">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Action Required</h5>
                      <a href="/accept-admission" class="card-text btn">Proceed to Accept Admission</a>
                  </div>
                  </div>
                </div>
                {% else %}
                <div class="col-2">
                  <div class="card" style="width: 18rem;background-color: orange;">
                  <div class="card-body">
                      <h5 class="card-title">Bio-Data Required</h5>
                      <a href="/biodata" class="card-text btn" style="background-color: white;color:black">Proceed To Update Your Bio-Data</a>
                  </div>
                  </div>
                </div>
                {% endif %}
              {% endif %}

              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Custom template -->
{% endblock content %}
