{% extends 'main-dashboard/dashboard-base.html'%}
<!-- static -->
{% load static %}
<!-- block -->
{% block content %}

<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 2px solid rgb(41, 187, 48); color: #000"
        >
          <div
            class="card-header"
            style="border-bottom: 3px solid #007343; color: #fff"
          >
            <div class="card-title" style="color: rgb(41, 187, 48)">
              Dashboard
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <div class="avatar-sm">
                      <img
                        src="{% static '/main/assets/img/POST22.png'%}"
                        alt="..."
                        class="avatar-img rounded-circle"
                        style="width:130px; height:130px"
                      />
                    </div>
            </div>
            <!--  -->
            <div class="col-6">
            <table class="table">
            <tbody>
                <tr>
                <td>Name</td>
                <td>....</td>
                </tr>
                <tr>
                <td>Matric</td>
                <td>....</td>
                </tr>
                <tr>
                <td>Application ID:</td>
                <td>...</td>
                </tr>
                <tr>
                <td>phone</td>
                <td>...</td>
                </tr>
                <tr>
                <td>Email</td>
                <td>...</td>
                </tr>
                <tr>
                <td>Level</td>
                <td>...</td>
                </tr>
                <tr>
                <td>Year of admission</td>
                <td>...</td>
                </tr>
                <tr>
                <td>Program Type</td>
                <td>...</td>
                </tr>
                <tr>
                <td>Faculty</td>
                <td>...</td>
                </tr>
                <tr>
                <td>Department</td>
                <td>...</td>
                </tr>
                <tr>
                <td>Programme</td>
                <td>...</td>
                </tr>
            </tbody>
            </table>
            </div>
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Custom template -->
{% endblock content %}
