{% extends 'main-dashboard/dashboard-base.html'%}
<!-- Static file loader -->
{% load static %}

<!-- the content block-->
{% block content %}
{% if user.student.has_accepted %}
        
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 2px solid rgb(41, 187, 48); color: #000"
        >
          <div
            class="card-header"
            style="border-bottom: 3px solid #007343; color: #fff"
          >
            <div class="card-title" style="color: rgb(41, 187, 48)">
              <h4>Documents</h4>
            </div>
          </div>
          <div class="container mt-3">
            <ul class="list-group">
              <li class="list-group-item text-light" style="background-color: rgb(233, 247, 219);">...</li>
              <div class="container-fluid">
              <div style="display: flex;justify-content: space-between;align-items: center;">
                <div class="">
                  <p>Admission Letter</p>
                </div>
                <div class="">
                  <a href="{% url 'admission_letter' %}" class="logo">
                          <img
                            src="{% static '/main/assets/img/download.svg'%}"
                            alt="navbar brand"
                            class="navbar-brand"
                            height="20"
                          />
                        </a>
                </div>
              </div>
              <hr style="color: rgba(13, 136, 243, 0.829);">
              <div style="display: flex;justify-content: space-between;align-items: center;">
                <div class="">
                  <p>Acceptance Invoice</p>
                </div>
                <div class="">
                  <a href="{% url 'admission_letter' %}" class="logo">
                          <img
                            src="{% static '/main/assets/img/download.svg'%}"
                            alt="navbar brand"
                            class="navbar-brand"
                            height="20"
                          />
                        </a>
                </div>
              </div>
              <hr style="margin: 0px;">
            </div
            </ul>
          </div>

            <div class="card-action">
              <!-- <button class="btn btn-success">Submit</button>
                      <button class="btn btn-danger">Cancel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  {% endblock content %}
