{% extends 'main-dashboard/dashboard-base.html'%}
<!-- Static file loader -->
{% load static %}

<!-- the content block-->
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 2px solid rgb(41, 187, 48); color: #000"
        >
          <div
            class="card-header"
            style="border-bottom: 3px solid #007343; color: #fff"
          >
            <div class="card-title" style="color: rgb(41, 187, 48)">
              <h4>Document</h4>
            </div>
          </div>
          <div class="container mt-3">
            <ul class="list-group">
              <li class="list-group-item text-light" style="background-color: rgb(233, 247, 219);">...</li>
                         <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-6">
      <a href="index.html" class="logo">
              <img
                src="{% static '/main/assets/img/download.svg'%}"
                alt="navbar brand"
                class="navbar-brand"
                height="20"
              />
            </a>
    </div>
  </div>
</div
            </ul>
          </div>

            <div class="card-action">
              <!-- <button class="btn btn-success">Submit</button>
                      <button class="btn btn-danger">Cancel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
