{% extends 'main-dashboard/dashboard-base.html'%}
<!-- Static file loader -->
{% load static %}

<!-- the content block-->
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 2px solid rgb(41, 187, 48); color: #000"
        >
          <div
            class="card-header"
            style="border-bottom: 3px solid #007343; color: #000"
          >
            <div class="row">
              <div class="col-4">
                <div class="card-title" style="color: rgb(41, 187, 48)">
                  Registration Form
                </div>
                <div class="input-group"></div>
              </div>
              <!--  -->
              <div class="col-4">
                <div class="input-group"></div>
              </div>
              <div class="col-4">
                <div class="input-group">
                  <select
                    class="form-control"
                    id="entrymode"
                    name="session"
                    required
                  >
                    <option hidden>
                      <span style="color: #ccc">Select Session</span>
                    </option>
                    <option value="100">..</option>
                  </select>
                </div>
              </div>
              <hr />
            </div>
            <!-- multi step form start -->
            <form action="#" class="form">
              <!-- <h1 class="text-center">Registration Form</h1> -->
              <!-- Progress bar -->
              <div class="progressbars">
                <div class="progress" id="progress"></div>

                <div
                  class="progress-step progress-step-active"
                  data-title="Intro"
                ></div>
                <div class="progress-step" data-title="Contact"></div>
                <div class="progress-step" data-title="ID"></div>
                <div class="progress-step" data-title="Password"></div>
              </div>

              <!-- Steps -->
              <div class="form-step form-step-active">
                <div class="row">
                  <div class="col-4">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="username"
                        id="surname"
                        placeholder="Surname"
                      />
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-4">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="firstname"
                        id="firstname"
                        placeholder="Firstname"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="middlename"
                        id="position"
                        placeholder="Middlename"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="date"
                        name="dob"
                        id="position"
                        placeholder="DOB"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="gender"
                        id="position"
                        placeholder="Gender"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="pob"
                        id="position"
                        placeholder="Place of Birth"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="middlename"
                        id="position"
                        placeholder="Home Town"
                      />
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
                </div>
              </div>
              <div class="form-step">
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <textarea
                        name="contact_address"
                        id="position"
                        cols="20"
                        rows="2"
                        placeholder="Contact Address"
                      ></textarea>
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="phone_no"
                        id="position"
                        placeholder="Phone Number"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section CONTACT -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="state"
                        id="position"
                        placeholder="State"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="lga"
                        id="position"
                        placeholder="LGA"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section CONTACT -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="nokname"
                        id="position"
                        placeholder="Next of King (Name)"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="nokphone"
                        id="position"
                        placeholder="Next of King (Phone No)"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section CONTACT -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="nok_email"
                        id="position"
                        placeholder="Next of King (Email)"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="nok_address"
                        id="position"
                        placeholder="Next of King (Address)"
                      />
                    </div>
                  </div>
                </div>

                <div class="btns-group">
                  <a href="#" class="btn btn-prev">Previous</a>
                  <a href="#" class="btn btn-next">Save and continue</a>
                </div>
              </div>
              <div class="form-step">
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="gender"
                        id="position"
                        placeholder="Gender"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="pob"
                        id="position"
                        placeholder="Place of Birth"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="row">
                  <div class="col-sm-4">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="middlename"
                        id="position"
                        placeholder="Home Town"
                      />
                    </div>
                  </div>
                </div>
                <div class="input-group">
                  <label for="ID">National ID</label>
                  <input type="number" name="ID" id="ID" />
                </div>
                <div class="btns-group">
                  <a href="#" class="btn btn-prev">Previous</a>
                  <a href="#" class="btn btn-next">Save and continue</a>
                </div>
              </div>
              <div class="form-step">
                <div class="input-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" />
                </div>
                <div class="input-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                  />
                </div>
                <div class="btns-group">
                  <a href="#" class="btn btn-prev">Previous</a>
                  <input type="submit" value="Submit" class="btn" />
                </div>
              </div>
            </form>
            <!-- End of muli step form -->

            <div class="card-action">
              <!-- <button class="btn btn-success">Submit</button>
                      <button class="btn btn-danger">Cancel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
