{% extends 'main-dashboard/dashboard-base.html'%}
<!-- Static file loader -->
{% load static %}

<!-- the content block-->
{% block content %}
<div class="container">
  <div class="page-inner">
    <!-- <div class="row"> -->
    <div class="container">
      <ul class="list-group" style="border: 1px solid #ddd; background-color: rgb(255, 255, 255);">
        <li class="list-group-item text-dark" style="background-color: rgb(233, 247, 219);">Application Form</li>
        <div class="container-fluid">
          <div style="display: flex;justify-content: space-between;align-items: center;">
            <div class="table-responsive">
              <form action="#" name="Form" class="form">

                <!-- Steps -->
                <div class="form-step form-step-active">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="username" class="control-label">Application Type:</label>
                        <!-- <span class="form-group-text">Person</span> -->

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <!-- <label for="username">Username</label> -->
                        <input type="text" name="application-type" id="application-type" class="form-control p-1"
                          value="Distance Learning Institute" disabled />
                      </div>
                    </div>
                    <!-- cccc -->
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <!-- <span class="form-group-text">Person</span> -->
                        <label for="username" class="control-label">Surname:</label>

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <!-- <label for="username">Username</label> -->
                        <input type="text" name="surname" id="surname" class="form-control p-1" required />
                      </div>
                    </div>
                    <!-- cccc -->
                  </div>
                  <!-- Another section -->
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="firstname">First Name: </label>

                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="firstname" id="firstname" class="form-control p-1" />
                      </div>
                    </div>
                  </div>
                  <!-- Another section -->
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="middlename">Middle Name: </label>
                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="middlename" id="middlename" class="form-control p-1" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="mobile">Mobile No :</label>

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="mobile" id="mobile" class="form-control p-1"
                          class="form-control p-1" />
                      </div>
                    </div>
                    <!-- cccc -->
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="email">Email:</label>

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="email" id="email" class="form-control p-1" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">

                      </div>
                    </div>
                    <div class="col-sm-9">
                      <p></p>
                      <a href="#" id="cont" class="btn btn-info btn-next">Continue</a>

                      <p></p>
                    </div>
                    <!--  -->
                  </div>
                </div>
                <div class="form-step">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <!-- <span class="form-group-text">Person</span> -->
                        <label for="username">Place of Birth :</label>

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <!-- <label for="username">Username</label> -->
                        <input type="text" name="pob" id="pob" class="form-control p-1" />
                      </div>
                    </div>
                    <!-- cccc -->
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <!-- <span class="form-group-text">Person</span> -->
                        <label for="Dob">Dob :</label>

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-3">
                      <div class="form-group">
                        <input type="date" class="form-control p-1" id="datetimepicker" name="datepicker">

                      </div>
                    </div>
                    <!-- cccc -->
                  </div>
                  <!-- Another section -->
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="status">Marital Status: </label>

                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="marital_status" id="marital_status" class="form-control p-1" />
                      </div>
                    </div>
                  </div>
                  <!-- Another section -->
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="country">Country: </label>

                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="country" id="country" class="form-control p-1" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="state">State :</label>

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <!-- <label for="username">Username</label> -->
                        <input type="text" name="state" id="state" class="form-control p-1" />
                      </div>
                    </div>
                    <!-- cccc -->
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="lga">LGA:</label>

                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <!-- <label for="username">Username</label> -->
                        <input type="text" name="lga" id="lga" class="form-control p-1" />
                      </div>
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="row">
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-9">
                      <a href="#" class="btn btn-warning btn-prev">Previous</a>
                      <!-- <a href="#" class="btns btn-next">Save and continue</a> -->

                      <a href="#" class="btn btn-info btn-next">Save and continue</a>

                    </div>

                  </div>
                </div>
                <div class="form-step">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="contact_address">Contact Address :</label>

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="contact_address" id="contact_address" class="form-control p-1" />
                      </div>
                    </div>
                    <!-- cccc -->
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <!-- <span class="form-group-text">Person</span> -->
                        <label for="Country">Country :</label>

                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <!-- <label for="username">Username</label> -->
                        <input type="text" name="country" id="country" class="form-control p-1" />
                      </div>
                    </div>
                  </div>
                  <!-- Another section -->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="state">State: </label>

                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="state" id="state" class="form-control p-1" />
                      </div>
                    </div>
                  </div>
                  <!-- Another section -->
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="lga">LGA: </label>
                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" name="lga" id="lga" class="form-control p-1" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p></p>
                    </div>
                    <!--  -->
                    <div class="col-sm-9">
                      <a href="#" class="btn btn-warning btn-prev">Previous</a>
                      <a href="#" class="btn btn-info btn-next">Save and continue</a>
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="form-step">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group-sm-2">
                        <label for="month-picker">No of Result Combination</label>
                        <select id="no_result_combination" name="no_result_combination" onChange="getOption()"
                          class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-4">
                      <div class="form-group-sm-2">
                        <label for="month-picker">Organization:</label>
                        <select id="organization" name="organization" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="WAEC">WAEC</option>
                          <option value="NECO">NECO</option>
                          <option value="NABTEB">NABTEB</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group-sm-2">
                        <label for="month-picker">SSCE Exam Type:</label>
                        <select id="ssce_exam_type" name="ssce_exam_type" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="May/June-WAEC">May/June-WAEC</option>
                          <option value="Nov/Dec-WAEC">Nov/Dec-WAEC</option>
                          <option value="May/June-WAEC">June/July-NECO</option>
                          <option value="Nov/Dec-WAEC">Nov/Dec-NECO</option>
                          <option value="May/June-WAEC">May/June-NABTEB</option>
                          <option value="Nov/Dec-WAEC">Nov/Dec-NATEB</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-4">
                      <div class="form-group-sm-2">
                        <label for="year-picker">SSCE Exam Year:</label>
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>

                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- ccc -->
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group-sm-2">
                        <label for="Country"><b>Subject</b></label>
                        <select id="ssce_exam_year" name="ssce_exam_year">
                          class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="COMMERCE">COMMERCE</option>
                          <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                          <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                          <option value="ECONOMICS">ECONOMICS</option>
                          <option value="GEOGRAPHY">GEOGRAPHY</option>
                          <option value="GOVERNMENT">GOVERNMENT</option>
                          <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                          <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                          <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                          <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                          <option value="HAUSA">HAUSA</option>
                          <option value="IGBO">IGBO</option>
                          <option value="YORUBA">YORUBA</option>
                          <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                          <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                          <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                          <option value="BIOLOGY">BIOLOGY</option>
                          <option value="CHEMISTRY">CHEMISTRY</option>
                          <option value="PHYSICS">PHYSICS</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-3">
                      <div class="form-group-sm-2">
                        <label for="username"><b>Grade</b></label>
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="A1">A1</option>
                          <option value="B2">B2</option>
                          <option value="B3">B3</option>
                          <option value="C4">C4</option>
                          <option value="C5">C5</option>
                          <option value="C6">C6</option>
                          <option value="D7">D7</option>
                          <option value="E8">E8</option>
                          <option value="F9">F9</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- Another section -->
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-6">
                      <div class="form-group-sm-2">
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="COMMERCE">COMMERCE</option>
                          <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                          <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                          <option value="ECONOMICS">ECONOMICS</option>
                          <option value="GEOGRAPHY">GEOGRAPHY</option>
                          <option value="GOVERNMENT">GOVERNMENT</option>
                          <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                          <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                          <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                          <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                          <option value="HAUSA">HAUSA</option>
                          <option value="IGBO">IGBO</option>
                          <option value="YORUBA">YORUBA</option>
                          <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                          <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                          <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                          <option value="BIOLOGY">BIOLOGY</option>
                          <option value="CHEMISTRY">CHEMISTRY</option>
                          <option value="PHYSICS">PHYSICS</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-3">
                      <div class="form-group-sm-2">
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="A1">A1</option>
                          <option value="B2">B2</option>
                          <option value="B3">B3</option>
                          <option value="C4">C4</option>
                          <option value="C5">C5</option>
                          <option value="C6">C6</option>
                          <option value="D7">D7</option>
                          <option value="E8">E8</option>
                          <option value="F9">F9</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- Another section -->
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-6">
                      <div class="form-group-sm-2">
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="COMMERCE">COMMERCE</option>
                          <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                          <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                          <option value="ECONOMICS">ECONOMICS</option>
                          <option value="GEOGRAPHY">GEOGRAPHY</option>
                          <option value="GOVERNMENT">GOVERNMENT</option>
                          <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                          <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                          <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                          <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                          <option value="HAUSA">HAUSA</option>
                          <option value="IGBO">IGBO</option>
                          <option value="YORUBA">YORUBA</option>
                          <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                          <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                          <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                          <option value="BIOLOGY">BIOLOGY</option>
                          <option value="CHEMISTRY">CHEMISTRY</option>
                          <option value="PHYSICS">PHYSICS</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-3">
                      <div class="form-group-sm-2">
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="A1">A1</option>
                          <option value="B2">B2</option>
                          <option value="B3">B3</option>
                          <option value="C4">C4</option>
                          <option value="C5">C5</option>
                          <option value="C6">C6</option>
                          <option value="D7">D7</option>
                          <option value="E8">E8</option>
                          <option value="F9">F9</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-6">
                      <div class="form-group-sm-2">
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="COMMERCE">COMMERCE</option>
                          <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                          <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                          <option value="ECONOMICS">ECONOMICS</option>
                          <option value="GEOGRAPHY">GEOGRAPHY</option>
                          <option value="GOVERNMENT">GOVERNMENT</option>
                          <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                          <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                          <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                          <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                          <option value="HAUSA">HAUSA</option>
                          <option value="IGBO">IGBO</option>
                          <option value="YORUBA">YORUBA</option>
                          <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                          <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                          <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                          <option value="BIOLOGY">BIOLOGY</option>
                          <option value="CHEMISTRY">CHEMISTRY</option>
                          <option value="PHYSICS">PHYSICS</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-3">
                      <div class="form-group-sm-2">
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="A1">A1</option>
                          <option value="B2">B2</option>
                          <option value="B3">B3</option>
                          <option value="C4">C4</option>
                          <option value="C5">C5</option>
                          <option value="C6">C6</option>
                          <option value="D7">D7</option>
                          <option value="E8">E8</option>
                          <option value="F9">F9</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-6">
                      <div class="form-group-sm-2">
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="COMMERCE">COMMERCE</option>
                          <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                          <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                          <option value="ECONOMICS">ECONOMICS</option>
                          <option value="GEOGRAPHY">GEOGRAPHY</option>
                          <option value="GOVERNMENT">GOVERNMENT</option>
                          <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                          <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                          <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                          <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                          <option value="HAUSA">HAUSA</option>
                          <option value="IGBO">IGBO</option>
                          <option value="YORUBA">YORUBA</option>
                          <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                          <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                          <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                          <option value="BIOLOGY">BIOLOGY</option>
                          <option value="CHEMISTRY">CHEMISTRY</option>
                          <option value="PHYSICS">PHYSICS</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="col-sm-3">
                      <div class="form-group-sm-2">
                        <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                          <option value=""></option>
                          <!-- <optgroup> -->
                          <option value="A1">A1</option>
                          <option value="B2">B2</option>
                          <option value="B3">B3</option>
                          <option value="C4">C4</option>
                          <option value="C5">C5</option>
                          <option value="C6">C6</option>
                          <option value="D7">D7</option>
                          <option value="E8">E8</option>
                          <option value="F9">F9</option>
                          <!-- </optgroup> -->
                        </select>
                      </div>
                    </div>
                  </div>


                  <!-- another one -->
                  <div id="hiddens_obj" style="display: none;">
                    <hr />
                    <div class="row ">
                      <div class="col-sm-4">
                        <div class="form-group-sm-2">
                          <p></p>
                          <label for="month-picker">Organization:</label>
                          <select id="organization" name="organization" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="WAEC">WAEC</option>
                            <option value="NECO">NECO</option>
                            <option value="NABTEB">NABTEB</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- cccc -->
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group-sm-2">
                          <label for="month-picker">SSCE Exam Type:</label>
                          <select id="ssce_exam_type" name="ssce_exam_type" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="May/June-WAEC">May/June-WAEC</option>
                            <option value="Nov/Dec-WAEC">Nov/Dec-WAEC</option>
                            <option value="May/June-WAEC">June/July-NECO</option>
                            <option value="Nov/Dec-WAEC">Nov/Dec-NECO</option>
                            <option value="May/June-WAEC">May/June-NABTEB</option>
                            <option value="Nov/Dec-WAEC">Nov/Dec-NATEB</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                      <!--  -->
                      <div class="col-sm-3">
                        <div class="form-group-sm-2">
                          <label for="year-picker">SSCE Exam Year:</label>
                          <select id="ssce_exam_year2" name="ssce_exam_year2" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->


                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="Country"><b>Subject</b></label>

                        </div>
                      </div>
                      <!--  -->
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="username"><b>Grade</b></label>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group-sm-2">

                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="COMMERCE">COMMERCE</option>
                            <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                            <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="GEOGRAPHY">GEOGRAPHY</option>
                            <option value="GOVERNMENT">GOVERNMENT</option>
                            <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                            <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                            <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                            <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                            <option value="HAUSA">HAUSA</option>
                            <option value="IGBO">IGBO</option>
                            <option value="YORUBA">YORUBA</option>
                            <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                            <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                            <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                            <option value="BIOLOGY">BIOLOGY</option>
                            <option value="CHEMISTRY">CHEMISTRY</option>
                            <option value="PHYSICS">PHYSICS</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                      <!--  -->
                      <div class="col-sm-3">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="A1">A1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="C4">C4</option>
                            <option value="C5">C5</option>
                            <option value="C6">C6</option>
                            <option value="D7">D7</option>
                            <option value="E8">E8</option>
                            <option value="F9">F9</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- Another section -->
                    <div class="row">
                      <!--  -->
                      <div class="col-sm-6">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="COMMERCE">COMMERCE</option>
                            <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                            <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="GEOGRAPHY">GEOGRAPHY</option>
                            <option value="GOVERNMENT">GOVERNMENT</option>
                            <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                            <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                            <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                            <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                            <option value="HAUSA">HAUSA</option>
                            <option value="IGBO">IGBO</option>
                            <option value="YORUBA">YORUBA</option>
                            <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                            <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                            <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                            <option value="BIOLOGY">BIOLOGY</option>
                            <option value="CHEMISTRY">CHEMISTRY</option>
                            <option value="PHYSICS">PHYSICS</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                      <!-- cccc -->
                      <div class="col-sm-3">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="A1">A1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="C4">C4</option>
                            <option value="C5">C5</option>
                            <option value="C6">C6</option>
                            <option value="D7">D7</option>
                            <option value="E8">E8</option>
                            <option value="F9">F9</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- Another section -->
                    <div class="row">
                      <!--  -->
                      <div class="col-sm-6">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="COMMERCE">COMMERCE</option>
                            <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                            <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="GEOGRAPHY">GEOGRAPHY</option>
                            <option value="GOVERNMENT">GOVERNMENT</option>
                            <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                            <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                            <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                            <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                            <option value="HAUSA">HAUSA</option>
                            <option value="IGBO">IGBO</option>
                            <option value="YORUBA">YORUBA</option>
                            <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                            <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                            <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                            <option value="BIOLOGY">BIOLOGY</option>
                            <option value="CHEMISTRY">CHEMISTRY</option>
                            <option value="PHYSICS">PHYSICS</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                      <!-- cccc -->
                      <div class="col-sm-3">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="A1">A1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="C4">C4</option>
                            <option value="C5">C5</option>
                            <option value="C6">C6</option>
                            <option value="D7">D7</option>
                            <option value="E8">E8</option>
                            <option value="F9">F9</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <!--  -->
                      <div class="col-sm-6">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="COMMERCE">COMMERCE</option>
                            <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                            <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="GEOGRAPHY">GEOGRAPHY</option>
                            <option value="GOVERNMENT">GOVERNMENT</option>
                            <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                            <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                            <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                            <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                            <option value="HAUSA">HAUSA</option>
                            <option value="IGBO">IGBO</option>
                            <option value="YORUBA">YORUBA</option>
                            <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                            <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                            <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                            <option value="BIOLOGY">BIOLOGY</option>
                            <option value="CHEMISTRY">CHEMISTRY</option>
                            <option value="PHYSICS">PHYSICS</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                      <!-- cccc -->
                      <div class="col-sm-3">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="A1">A1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="C4">C4</option>
                            <option value="C5">C5</option>
                            <option value="C6">C6</option>
                            <option value="D7">D7</option>
                            <option value="E8">E8</option>
                            <option value="F9">F9</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <!--  -->
                      <div class="col-sm-6">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="COMMERCE">COMMERCE</option>
                            <option value="FINANCIAL ACCOUNTING">FINANCIAL ACCOUNTING</option>
                            <option value="CHRISTIAN RELIGIOUS STUDIES">CHRISTIAN RELIGIOUS STUDIES</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="GEOGRAPHY">GEOGRAPHY</option>
                            <option value="GOVERNMENT">GOVERNMENT</option>
                            <option value="ISLAMIC STUDIES">ISLAMIC STUDIES</option>
                            <option value="LITERATURE IN ENGLISH">LITERATURE IN ENGLISH</option>
                            <option value="CIVIC EDUCATION">CIVIC EDUCATION</option>
                            <option value="ENGLISH LANGUAGE">ENGLISH LANGUAGE</option>
                            <option value="HAUSA">HAUSA</option>
                            <option value="IGBO">IGBO</option>
                            <option value="YORUBA">YORUBA</option>
                            <option value="FURTHER MATHEMATICS">FURTHER MATHEMATICS</option>
                            <option value="GENERAL MATHEMATICS">GENERAL MATHEMATICS</option>
                            <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                            <option value="BIOLOGY">BIOLOGY</option>
                            <option value="CHEMISTRY">CHEMISTRY</option>
                            <option value="PHYSICS">PHYSICS</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                      <!-- cccc -->
                      <div class="col-sm-3">
                        <div class="form-group-sm-2">
                          <select id="ssce_exam_year" name="ssce_exam_year" class="form-control p-1" required>
                            <option value=""></option>
                            <!-- <optgroup> -->
                            <option value="A1">A1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="C4">C4</option>
                            <option value="C5">C5</option>
                            <option value="C6">C6</option>
                            <option value="D7">D7</option>
                            <option value="E8">E8</option>
                            <option value="F9">F9</option>
                            <!-- </optgroup> -->
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- cccc -->
                  <div class="row p-12">

                    <!--  -->
                    <div class="col-sm-9">
                      <a href="#" class="btn btn-warning btn-prev">Previous</a>
                      <a href="#" class="btn btn-info btn-next">Save and continue</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <!--  -->
          <!-- Another Section -->
          <div class="form-step">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <!-- <span class="form-group-text">Person</span> -->
                  <label for="kin_name">Next of Kin Name :</label>

                </div>
              </div>
              <!--  -->
              <div class="col-sm-9">
                <div class="form-group">
                  <!-- <label for="username">Username</label> -->
                  <input type="text" name="kin_name" id="kin_name" class="form-control p-1" />
                </div>
              </div>
              <!-- cccc -->
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <!-- <span class="form-group-text">Person</span> -->
                  <label for="Phone">Next of Kin Phone :</label>

                </div>
              </div>
              <!--  -->
              <div class="col-sm-9">
                <div class="form-group">
                  <!-- <label for="username">Username</label> -->
                  <input type="text" name="nokp" id="nokp" class="form-control p-1" />
                </div>
              </div>
            </div>
            <!-- Another section -->
            <div class="row">
              <!--  -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="Address">Next of Kin Address </label>

                </div>
              </div>
              <!-- cccc -->
              <div class="col-sm-9">
                <div class="form-group">
                  <input type="text" name="nokaddress" id="nokaddress" class="form-control p-1" />
                </div>
              </div>
            </div>
            <!-- Another section -->
            <div class="row">
              <!--  -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="nokrelationship">Next of Kin Relationship: </label>

                </div>
              </div>
              <!-- cccc -->
              <div class="col-sm-9">
                <div class="form-group">
                  <input type="text" name="nokrelationship" id="nokrelationship" class="form-control p-1" />
                </div>
              </div>
            </div>
            <!-- Another section -->
            <div class="row">
              <div class="col-sm">

              </div>

              <div class="col-sm-5">
                <div class="d-flex flex-row">
                  <div class="col-sm-9">
                    <a href="#" class="btn btn-warning btn-prev">Previous</a>

                  </div>
                  <div class="col-sm-">
                    <input type="submit" value="Submit" class="btn btn-success">

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        </form>
        <!-- End of muli step form -->
    </div>
  </div>
  </ul>
</div>
<div class="card-action">
</div>
<!-- DateTimePicker -->
<script src="{% static 'main/assets/js/plugin/moment/moment.min.js'%}"></script>
<script src="{% static 'main/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js'%}"></script>


<script>
  function getOption() {
    var obj = document.getElementById("no_result_combination");
    var nos = obj.options[obj.selectedIndex].text;
    if (nos == "2") {
      document.getElementById("hiddens_obj").style.display = "block";
    } else {
      document.getElementById("hiddens_obj").style.display = "none";
    }
  }

  // var selectYear = document.querySelector("ssce_exam_year");

  function generateArrayOfYears() {
    var max = new Date().getFullYear();
    var min = max - 46;
    var years = [];

    for (var i = max; i >= min; i--) {
      years.push(i);
    }
    return years;
  }

  var option = document.createElement('option');
  // 
  var years = generateArrayOfYears();


  for (var i = 0; i < years.length; i++) {
    var txt = option.text = years[i]
    var value = option.value = years[i]
    var option = "<option value='" + value + "'>" + txt + "</option>"
    document.getElementById('ssce_exam_year').innerHTML += option;
  }
  for (var i = 0; i < years.length; i++) {
    var txt = option.text = years[i]
    var value = option.value = years[i]
    var option = "<option value='" + value + "'>" + txt + "</option>"
    document.getElementById('ssce_exam_year2').innerHTML += option;
  }


  var a = document.getElementById("surname").value;
  var b = document.getElementById("firstname").value;
  var d = document.getElementById("middlename").value;
  var c = document.getElementById("mobile").value;
  if ((a == null || a == "") && (b == null || b == "") && (c == null || c == "") && (d == null || d == "")) {
    document.getElementById("cont").disabled = true;
  } else {
    document.getElementById("cont").disabled = false;
  }

</script>
{% endblock content %}

</div>