{% extends 'main-dashboard/dashboard-base.html'%}
<!-- Static file loader -->
{% load static %}

<!-- the content block-->
{% block content %}
<div class="container">
  <div class="page-inner">
    <!-- <div class="row"> -->
      <div class="container">
            <ul class="list-group" style="border: 1px solid #ddd;">
              <li class="list-group-item text-dark" style="background-color: rgb(233, 247, 219);">Application Form</li>
              <div class="container-fluid">
              <div style="display: flex;justify-content: space-between;align-items: center;">
                 <div class="table-responsive">
                   <form action="#" class="form">
              <!-- <h1 class="text-center">Registration Form</h1> -->
              <!-- Progress bar -->
              <!-- <div class="progressbars">
                <div class="progress" id="progress"></div>

                <div class="progress-step progress-step-active"data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
              </div> -->

              <!-- Steps -->
              <div class="form-step form-step-active">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <!-- <span class="input-group-text">Person</span> -->
                      <label for="username">Application Type :</label>
                     
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="application-type"
                        id="application-type"
                        class="form-control input-sm"
                        value="Distance Learning Institute"
                        disabled
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <!-- <span class="input-group-text">Person</span> -->
                      <label for="username">Surname :</label>
                     
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="firstname"
                        id="firstname"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="position">First Name: </label>
                    
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input
                        type="text"
                        name="dob"
                        id="position"
                        class="form-control input-sm-3"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="position">Middle Name: </label>
                
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="position">Position</label> -->
                      <input
                        type="text"
                        name="pob"
                        id="position"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="username">Mobile No :</label>
                    
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="firstname"
                        id="firstname"
                        class="form-control input-sm"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="username">Email:</label>
                    
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="email"
                        id="email"
                        class="form-control input-sm"
                        disabled
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                    
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-4">
                  <a href="#" class="btn btn-success btn-next">Next</a>
                    
                  </div>
                </div>
                <!--  -->
                <!-- <div class="">
                  <a href="#" class="btns btn-next width-50 ml-auto">Next</a>
                </div> -->
              </div>
              <div class="form-step">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <!-- <span class="input-group-text">Person</span> -->
                      <label for="username">Place of Birth :</label>
                     
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="pob"
                        id="pob"
                        class="form-control input-sm"
                 
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <!-- <span class="input-group-text">Person</span> -->
                      <label for="Dob">Dob :</label>
                     
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <input
                        type="date"
                        name="dob"
                        id="dob"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="status">Marital Status: </label>
                    
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input
                        type="text"
                        name="marital_status"
                        id="marital_status"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="country">Country: </label>
                
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input
                        type="text"
                        name="country"
                        id="country"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="state">State :</label>
                    
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="state"
                        id="state"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="lga">LGA:</label>
                    
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="lga"
                        id="lga"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                </div>
            
                  <!-- cccc -->
                  <div class="row">
                  <div class="col-sm-3">

                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                   <a href="#" class="btn btn-success btn-prev">Previous</a>
                  <!-- <a href="#" class="btns btn-next">Save and continue</a> -->
                    
                  <a href="#" class="btn btn-success btn-next">Save and continue</a>
                    
                  </div>
             
              </div>
            </div>
              <div class="form-step">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="contact_address">Contact Address :</label>
                     
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input
                        type="text"
                        name="contact_address"
                        id="contact_address"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <!-- <span class="input-group-text">Person</span> -->
                      <label for="Country">Country :</label>
                     
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="country"
                        id="country"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="state">State: </label>
                    
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input
                        type="text"
                        name="state"
                        id="state"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="lga">LGA: </label>
                
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input
                        type="text"
                        name="lga"
                        id="lga"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                </div>
                
            
                  <!-- cccc -->
                  <div class="row">
                  <div class="col-sm-3">

                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                   <a href="#" class="btn btn-success btn-prev">Previous</a>
                  <!-- <a href="#" class="btns btn-next">Save and continue</a> -->
                    
                  <a href="#" class="btn btn-success btn-next">Save and continue</a>
                    
                  </div>
             
              </div>
            </div>
              <div class="form-step">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <!-- <span class="input-group-text">Person</span> -->
                      <label for="kin_name">Next of Kin Name :</label>
                     
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="kin_name"
                        id="kin_name"
                        class="form-control input-sm"
                 
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="input-group">
                      <!-- <span class="input-group-text">Person</span> -->
                      <label for="Phone">Next of Kin Phone :</label>
                     
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <!-- <label for="username">Username</label> -->
                      <input
                        type="text"
                        name="nokp"
                        id="nokp"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                  <!-- cccc -->
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="Address">Next of Kin Address </label>
                    
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input
                        type="text"
                        name="nokaddress"
                        id="nokaddress"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="row">
                  <!--  -->
                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="nokrelationship">Next of Kin Relationship: </label>
                
                    </div>
                  </div>
                  <!-- cccc -->
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input
                        type="text"
                        name="nokrelationship"
                        id="nokrelationship"
                        class="form-control input-sm"
                      />
                    </div>
                  </div>
                </div>
                <!-- Another section -->
                <div class="row">
                   <div class="col-sm">

                   </div>
                
                     <div class="col-sm-5">
                    <div class="btn-group btn-group-xs">
                      <a href="#" class="btn btn-success btn-prev">Previous</a>
                    <input type="submit" value="Submit" class="btn btn-">
                  </div>
                  </div>
                </div>
                </div>
              </div>
            </form>
            <!-- End of muli step form -->
              </div>
            </div>
            </ul>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
