{% extends 'main-dashboard/dashboard-base.html'%}
<!-- Static file loader -->
{% load static %}

<!-- the content block-->
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 2px solid rgb(41, 187, 48); color: #000"
        >
          <div
            class="card-header"
            style="border-bottom: 3px solid #007343; color: #fff"
          >
            <div class="card-title" style="color: rgb(41, 187, 48)">
              Payment
            </div>
          </div>
                      <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Title</th>
          <th>Amount</th>
          <th>Invoice</th>
          <th>Status</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>

          <div class="card-action">
            <!-- <button class="btn btn-success">Submit</button>
                      <button class="btn btn-danger">Cancel</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
