{% extends 'main-dashboard/dashboard-base.html'%}
<!-- Static file loader -->
{% load static %}

<!-- the content block-->
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div
          class="card"
          style="border-top: 1px solid rgb(41, 187, 48); color: #000"
        >
       
            <div class="card-action" style="color: rgb(41, 187, 48)">
              Payment
            </div>
          <div class="container mt-3">
            <ul class="list-group" style="border: 1px solid #ddd;">
              <li class="list-group-item text-light" style="background-color: rgb(233, 247, 219);">...</li>
              <div class="container-fluid">
              <div style="display: flex;justify-content: space-between;align-items: center;">
                 <div class="table-responsive">
    <table class="table table-bordered">

      <thead>
        <tr>
          <th>S/N</th>
          <th>Title</th>
          <th>Amount</th>
          <th>Invoice</th>
          <th>Status</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
               
            </ul>
          </div>
      
   

          <div class="card"></div>
          <div class="card-action">
            <!-- <button class="btn btn-success">Submit</button>
                      <button class="btn btn-danger">Cancel</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
