



/* Form */
.form {
  width: clamp(820px, 30%, 430px);
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}


.form-step-active {
  display: block;
}

.input-group {
  margin: 0rem 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
      .form {
  width: clamp(800px, 30%, 430px);
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 0.35rem;
  padding: 1.5rem;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
      .form {
  width: clamp(800px, 30%, 430px);
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 0.35rem;
  padding: 1.5rem;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
      .form {
  width: clamp(800px, 30%, 430px);
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 0.35rem;
  padding: 1.5rem;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
      .form {
  width: clamp(800px, 30%, 430px);
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 0.35rem;
  padding: 1.5rem;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      .form {
  width: clamp(800px, 30%, 430px);
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 0.35rem;
  padding: 1.5rem;
}
}
