{% extends 'main/pdf_base.html' %} {% load static %} {% block content %}
<div class="content">
  <ol>
    <li>
      I am pleased to inform you that you have been offered provisional
      admission into the Degree Programme of Nasarawa State University, Keffi
      for the 2022/2023 Academic Session Stream A as detailed below.
    </li>
    <table>
      <tr>
        <th>Full Name:</th>
        <td>{{user.student.get_fullname}}</td>
        <th>Applicant ID:</th>
        <td>{{user.student.app_id}}</td>
      </tr>
      <tr>
        <th>State of Origin</th>
        <td>{{user.student.state}}</td>
        <th>Mode of Entry:</th>
        <td>{{user.student.mode_of_entry}}</td>
      </tr>
      <tr>
        <th>Mode of Study:</th>
        <td>{{user.student.mode_of_study}}</td>
        <th>Faculty:</th>
        <td>Administration</td>
      </tr>
      <tr>
        <th>Department</th>
        <td>Public Administration</td>
      </tr>
      <tr>
        <th>Programme</th>
        <td>B.Sc Public Administration</td>
      </tr>
    </table>
    <br />
    <li>
      Please note that the duration of this programme in the university is 3
      years
    </li>
    <br />
    <li>
      Registration commences from 7th March, 2024 to 31st December, 2024. And
      you are required to come along with the following:
    </li>
    <ol>
      <li>. Original copies of all your certificates.</li>
      <li>
        Original copies of JAMB Admission Letter, (Candidate and Institutional)
      </li>
      <li>The sum of <b>₦ {{school_fee.amount}}</b> as registration fee.</li>
      <li>
        A medical certificate of fitness from Nasarawa State University, Keffi
        Clinic
      </li>
      <li>Four recent passport-sized photographs.</li>
    </ol>
    <h3>Congratulations</h3>
  </ol>
</div>
{% endblock %}
